<div class="columns is-centered mx-1 my-1">
  <div class="column is-half">
    <p class='title'>Edit <%= resource_name.to_s.humanize %></p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="field">
        <div class="control">
          <%= f.input :name, label: 'Name',
                      label_html: { class: 'label' },
                      input_html: { class: "input"},
                      wrapper: false, required: false, autofocus: true %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :username, label: 'Username',
                      label_html: { class: 'label' },
                      input_html: { class: "input"},
                      wrapper: false, required: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :email, label: 'Email',
                      label_html: { class: 'label' },
                      input_html: { class: "input"},
                      wrapper: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      label: 'Password', label_html: { class: 'label' },
                      input_html: { class: "input"}, wrapper: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      label: 'Confirm Password', label_html: { class: 'label' },
                      input_html: { class: "input"}, wrapper: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" },
                      label: 'Current Password', label_html: { class: 'label' },
                      input_html: { class: "input"}, wrapper: false %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= f.button :submit, "Update",
                        class: 'button is-link is-primary' %>
        </div>
        <div class="control">
          <%= link_to "Cancel", posts_path, class: 'button is-link is-light' %>
        </div>
        <div class="control" style="margin-left: auto;">
          <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
