<div class="columns is-centered mt-1">
  <div class="column is-one-third">
    <p class='title'>Log In</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="field">
        <div class="control">
          <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" },
              label: 'Email',
              label_html: { class: 'label' },
              input_html: { class: "input"},
              wrapper: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :password,
              required: true,
              input_html: { autocomplete: "current-password" },
              label: 'Password',
              label_html: { class: 'label' },
              input_html: { class: "input"},
              wrapper: false %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= f.button :submit, "Log In",
                        class: 'button is-primary' %>
        </div>
        <div class="control">
          <%= link_to "Cancel", posts_path, class: 'button is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
